<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
RewriteCond %{HTTP_HOST} ^cliente\.hvnimportaciones\.com\.py$ [OR]
RewriteCond %{HTTP_HOST} ^www\.cliente\.hvnimportaciones\.com\.py$
RewriteRule ^/?$ "https\:\/\/www\.cliente\.hvnimportaciones\.com\.py\/" [R=301,L]
